 body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        background: linear-gradient(to right, #8e44ad, #c0392b);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px;
        text-align: center;
    }

    header ul {
        list-style: none;
        padding: 0;
		
    }

    header ul li {
        display: flex;
        margin-right: 20px;
		float:left;
		transition: transform 0.3s ease;
    }

    header ul li a{
        color: #fff;
        background-color: #8e44ad;
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
		width:100%;
    }
	.loadImageBtn{
		color: #fff;
        background-color: #8e44ad;
        padding: 10px 20px;
		margin-top:5%;
        border-radius: 10px;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
		width:100%;
		border: 0;
		transition: background-color 0.3s ease;
		transition: transform 0.3s ease;
		
		display:block;
		bottom: 5%;
	}
	
	header ul li a:hover {
        background-color: #c0392b;
    }
	.square.expanded .saveImg:hover{
		background-color: #c0392b;
	}
	.square.expanded .saveImg:active{
		background-color: #6e1d69;
	}
	.loadImageBtn:hover{
		background-color: #c0392b;
		transform: scale(1.1);
	}
	.loadImageBtn:active{
		background-color: #6e1d69;
	}
	
	header ul li:hover{
		transform: scale(1.1);
	}	 

    header ul li a:active {
        background-color: #6e1d69;
    }

    .content {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .square {
        width: 200px;
        height: 200px;
        margin: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		transition: transform 0.3s ease;
		justify-content: center;
		align-items: center;
    }
	.square img {
		border-radius: 20px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	.square:not(.expanded):hover {
		transform: scale(1.1);
	}
    .square.expanded .saveImg{
		color: #fff;
        background-color: #8e44ad;
        padding: 10px 20px;
		margin-top:5%;
        border-radius: 10px;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
		width:80%;
		border: 0;
		transition: background-color 0.3s ease;
		transition: transform 0.3s ease;
	}
	.saveImg{
		display:none;
	}
	.square.expanded .saveImg{
		display:block;
		position: fixed;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
	}
	.expanded {
		position: fixed;
		width: 80%;
		height: 80%;
		background-color: #fff;
		z-index: 999;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1000;
		transition: transform 0.2s ease;
		transition: width 0.4s ease;
		transition: height 0.4s ease;
	}
	.expanded:hover {
		//transform: scale(1);
	}
    .expanded .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        padding: 0;
    }
	.square.expanded .close {
        display: block;
    }
	.square.expanded{
		z-index:9999;
	}
    .expanded-overlay.expanded {
		position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); /* Прозрачный фон */
        backdrop-filter: blur(5px); /* Размытый фон */
		transition: background-color 0.9s ease;
		transition: backdrop-filter 0.9s ease;
    }
	.expanded-loadImage.expanded{
		border-radius: 20px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}
    
    .expanded .close::before,
    .expanded .close::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 20px;
        background-color: #333;
    }

    .expanded .close::before {
        transform: rotate(45deg);
    }

    .expanded .close::after {
        transform: rotate(-45deg);
    }
	.loadImg, .reloadMain{
		display: flex;
		padding:5px;
	}
	.avatar-container{
		display: none;
	}
	.expanded-loadImage.expanded .avatar-container {
            position: relative;
            display: inline-block;
			
        }
	.expanded-loadImage.expanded .avatar-container img {
			border-radius: 20px;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
	.expanded-loadImage.expanded .avatar-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.7);
            padding: 5px;
            border: 1px solid #ccc;
            opacity: 0;
            pointer-events: none; /* Чтобы текст не мешал кликам */
            transition: opacity 0.3s ease; /* Плавное появление текста */
        }
		.expanded-loadImage.expanded .avatar-container:hover .avatar-image {
            opacity: 0.7; /* Изменяйте значение opacity по вашему выбору */
        }

        /* Показать текст при наведении курсора на контейнер */
        .expanded-loadImage.expanded .avatar-container:hover .avatar-text {
            opacity: 1;
        }
    footer {
        background-color: #f2f2f2;
        text-align: center;
        padding: 20px;
    }